/* CSS RESET */
html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}
/* ------------------------ */

* {
    background-color: blueviolet;
}

.side_panel {
        color: brown;
}

#title {
    color: yellow;
}

.card_title {
    color: tomato;
}