/* CSS RESET */
html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}
/* ------------------------ */

#app_container {
    display: flex;
}

#side_panel {
        color: brown;
        background-color: purple;
        padding: 20px;
        border: solid black;
        flex-wrap: wrap;
        flex-direction: column;
        height: 100vh;
        width: 300px;
        
}

#title {
    color: yellow;
}

.card_title {
    color: tomato;
}

* {
    font-family: sans-serif;
}

#side_panel {

}

.card {
    background-color: blue;
    border: solid black;
    margin-top: 10PX;
    border-radius: 16px;
    padding: 10px;
}

#activity_content {
    flex: 1;
    height: 100vh;
    overflow: auto;
}

#activity_content iframe {
    width: 100%;
    height: 100%;
    border: none;
}

#activity_content object {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
}



